:root.theme-dark {
  --cover-image: url(/images/cover-image-dark.png);
  --primary-color: #F1B2CE;
  --accent-color: #FF0070;
  --second-accent-color: #000028;
  --headline-color: #DB00FF;
  --menu-hover-color: #FF007066;
}

.page.theme_dark {
  --cover-image: url(/images/cover-image-dark.png);
  --primary-color: #F1B2CE;
  --accent-color: #FF0070;
  --second-accent-color: #000028;
  --headline-color: #DB00FF;
  --menu-hover-color: #FF007066;
}

.page.theme_dark .title-decor {
  color: var(--second-accent-color);
  background-color: var(--accent-color);
}

.page.theme_dark .decorated-zone::before {
  border-color: var(--accent-color);
}

.page.theme_dark .decorated-zone::after {
  border-color: var(--accent-color);
}

.page.theme_dark .rec-element {
  display: block;
  color: var(--accent-color);
}

.page.theme_dark .rec-element::after {
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.page.theme_dark .header__theme-menu-button {
  color: var(--accent-color);
}

.page.theme_dark .header__theme-menu-button:focus-visible {
  border-color: var(--accent-color);
}

.page.theme_dark .header__theme-menu-button:hover {
  outline: 1px solid var(--menu-hover-color);
}

.page.theme_dark .header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.page.theme_dark .headline {
  color: var(--headline-color);
}

.page.theme_dark .headline-header {
  text-shadow: 4px 4px 0px var(--accent-color);
}

.page.theme_dark .question__title {
  color: var(--accent-color);
}

.page.theme_dark .answer__paragraph {
  color: var(--primary-color);
}

.page.theme_dark .headline-footer {
  text-shadow: 2px 2px 0px var(--accent-color);
}

.page.theme_dark .link {
  text-shadow: 2.3px 1px 0 var(--accent-color);
}

.page.theme_dark .link:focus-visible {
  outline: 1px solid var(--primary-color);
}

.page.theme_dark .link:hover {
  border-color: var(--primary-color);
}