.page.theme_dark {
  --cover-image: url(../images/cover-image-dark.png);
  --rec-element-display: block;
  --page-background-color: #000028;
  --accent-color: #ff0070;
  --headline-color: #db00ff;
  --menu-hover-color: #ff007066;
  --title-decor-text-color: var(--page-background-color);
  --decor-color: var(--accent-color); 
  --primary-text-color: #f1b2ce;
}