@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url(../images/cover-image-light.png);
    --rec-element-display: none;
    --page-background-color: #fff1f7;
    --accent-color: #353430;
    --headline-color: #ffc2e6;
    --menu-hover-color: #32312d66;
    --title-decor-text-color: var(--accent-color);
    --decor-color: #ff8dcb;
    --primary-text-color: var(--accent-color);
  }
}  

.page.theme_light {
  --cover-image: url(../images/cover-image-light.png);
  --rec-element-display: none;
  --page-background-color: #fff1f7;
  --accent-color: #353430;
  --headline-color: #ffc2e6;
  --menu-hover-color: #32312d66;
  --title-decor-text-color: var(--accent-color);
  --decor-color: #ff8dcb;
  --primary-text-color: var(--accent-color);
}