:root.theme-light {
  --cover-image: url(/images/cover-image-light.png);
  --primary-color: #353430;
  --accent-color: #FF8DCB;
  --headline-color: #FFC2E6;
  --menu-hover-color: #32312D66;
}

@media (prefers-color-scheme: light) {
:root {
  /* Дублируем переменные светлой темы */
  --cover-image: url(/images/cover-image-light.png);
  --primary-color: #353430;
  --accent-color: #FF8DCB;
  --headline-color: #FFC2E6;
  --menu-hover-color: #32312D66;
  }

  .title-decor {
    color: var(--primary-color);
    background-color: var(--accent-color);
  }
  
  .decorated-zone::before {
    border-color: var(--primary-color);
  }
  
  .decorated-zone::after {
    border-color: var(--primary-color);
  }
  
  .rec-element {
    display: none
  }
  
  .header__theme-menu-button {
    color: var(--primary-color);
  }
  
  .header__theme-menu-button:focus-visible {
    border-color: var(--primary-color);
  }
  
  .header__theme-menu-button:hover {
    outline: 1px solid var(--menu-hover-color);
  }
  
  .header__theme-menu-button_active {
    outline: 1px solid var(--primary-color);
  }
  
  .headline {
    color: var(--headline-color);
  }
  
  .headline-header {
    text-shadow: 4px 4px 0px var(--accent-color);
  }
  
  .question__title {
    color: var(--primary-color);
  }
  
  .answer__paragraph {
    color: var(--primary-color);
  }
  
  .headline-footer {
    text-shadow: 2px 2px 0px var(--accent-color);
  }
  
  .link {
    text-shadow: 2.3px 1px 0 var(--accent-color);
  }
  
  .link:focus-visible {
    outline: 1px solid var(--primary-color);
  }
  
  .link:hover {
    border-color: var(--primary-color);
  }
}

.page.theme_light {
  --cover-image: url(/images/cover-image-light.png);
  --primary-color: #353430;
  --accent-color: #FF8DCB;
  --headline-color: #FFC2E6;
  --menu-hover-color: #32312D66;
}

.page.theme_light .decorated-zone::before {
  border-color: var(--primary-color);
}

.page.theme_light .decorated-zone::after {
  border-color: var(--primary-color);
}

.page.theme_light .rec-element {
  display: none;
}

.page.theme_light .header__theme-menu-button {
  color: var(--primary-color);
}

.page.theme_light .header__theme-menu-button:focus-visible {
  border-color: var(--primary-color);
}

.page.theme_light .header__theme-menu-button:hover {
  outline: 1px solid var(--menu-hover-color);
}

.page.theme_light .header__theme-menu-button_active {
  outline: 1px solid var(--primary-color);
}

.page.theme_light .question__title {
  color: var(--primary-color);
}