.page {
  display: grid;
  background-color: var(--page-background-color);
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
  padding-inline: var(--padding);
}

.title-decor {
  color: var(--title-decor-text-color);
  background-color: var(--decor-color);
}

.header {
  block-size: var(--header-footer-block-size);
  min-block-size: var(--header-footer-min-block-size);
  display: grid;
  grid-template-rows: min-content 1fr min-content 1fr min-content;
  position: relative;
  padding-block: var(--padding);
  margin-block-end: var(--in-page-margin-block-end);
}

.decorated-zone::before {
  content: '';
  display: block;
  grid-row: 1/auto;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color); 
  border-inline-end: 1px solid var(--accent-color);
  justify-self: end;
}

.decorated-zone::after {
  content: '';
  display: block;
  grid-row: 5/auto;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-color); 
  border-inline-start: 1px solid var(--accent-color);
}

.rec-element {
  position: absolute;
  display: var(--rec-element-display);
  font-weight: var(--regular-font-weight);
  color: var(--accent-color);
  line-height: 25px;
  text-transform: uppercase;
  top: var(--rec-element-top);
  right: 10px;
}

.rec-element::after {
  content: '';
  display: block;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  border-radius: 50%;
  margin-inline-start: 43px;
  margin-block-start: -18px;

}

.header__theme-menu {
  line-height: 18px;
  font-weight: var(--regular-font-weight);
  justify-self: end;
  grid-row: 2/auto;
  align-self: center;
  padding-block-end: var(--header-theme-menu-padding-block-end); 
}

.header__theme-menu-list {
  display: grid;
  gap: 12px;
}

.header__theme-menu-button {
  border: none;
  color: var(--accent-color);
  background-color: transparent;
  padding-inline: 13px;
  padding-block: 3px;
  text-transform: lowercase;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);  
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-hover-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.headline {
  font-size: var(--headline-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--headline-line-height);
  color: var(--headline-color);
}

.headline-header {
  text-shadow: 4px 4px 0px var(--decor-color);
  grid-row: 3/auto;
  margin-inline-start: var(--headline-header-margin-inline-start);
}

.header__text {
  grid-row: 4/auto;
  align-self: center;
  font-weight: var(--bold-font-weight);
  line-height: var(--primary-line-height);
  margin-block-start: 25px; 
}

.main {
  display: grid;
  gap: var(--main-gap);
  margin-block-end: var(--in-page-margin-block-end);
}

.question {
  display: grid;
  column-gap: var(--question-gap);
}

.question__title {
  color: var(--accent-color);
  font-weight: var(--bold-font-weight);
  line-height: var(--primary-line-height);
  margin-block-end: var(--in-question-margin-block-end);
  font-size: inherit;
}

.answer__title {
  line-height: var(--primary-line-height);
  font-weight: var(--bold-font-weight);
  font-size: inherit;
}

.question-how .answer__title {
  font-weight: var(--regular-font-weight);
}

.answer__paragraph {
  color: var(--primary-text-color);
  font-weight: var(--regular-font-weight);
  line-height: var(--primary-line-height);
  margin-block-start: 10px;
  margin-block-end: var(--in-question-margin-block-end);
}

.annotation-of-answers {
  font-size: inherit;
  margin-block-end: var(--in-question-margin-block-end);
}

.gallery {
  display: grid;
  gap: var(--gallery-gap);
}

.gallery__title {
  font-size: inherit;
}

.image {
  inline-size: var(--image-size);
  max-inline-size: var(--image-size);
  object-fit: cover;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content 1fr min-content;;
  block-size: var(--header-footer-block-size);
  min-block-size: var(--header-footer-min-block-size);
  padding-block: var(--padding);
}

.headline-footer {
  text-shadow: 2px 2px 0px var(--decor-color);
  grid-row: 3/auto;
  text-align: center;
}

.link {
  text-shadow: 2px 2px 0 var(--decor-color);
  text-decoration: none;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--primary-text-color);
}

.link:hover {
  border-block-end: 1px solid var(--primary-text-color);
}

@media (width >= 768px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
  }

  .decorated-zone::before {
    grid-column: 2/auto;
  }
  
  .headline-header {
    grid-column: 1/3;
  }

  .header__text {
    grid-column: 2/auto;
  }

  .question-how {
    grid-template-rows: min-content min-content 1fr;
  }

  .question-how .question__title {
    grid-row: 1/3;
  }

  .annotation-of-answers {
    grid-row: 1/auto;
  }

  .question-how .answer:first-of-type {
    grid-row: 2/4;
  }

  .image {
    block-size: var(--image-size);
  }

  .gallery {
    grid-template-areas:
    'title title title'
    'sunset sunset ice-cream'
    'tape books ice-cream'
    'tape street street';
  }

  .gallery__title {
    grid-area: title;
  }

  .image-sunset {
    grid-area: sunset;
  }

  .image-ice-cream {
    grid-area: ice-cream;
  }

  .image-tape {
    grid-area: tape;
  }

  .image-books {
    grid-area: books;
  }

  .image-street {
    grid-area: street;
  }

  .headline-footer {
    padding-inline-start: 25px;
  }
}

@media (768px <= width < 1024px) {
  .header__theme-menu {
    grid-column: 2/auto;
  }
  
  .question {
    grid-template-columns: fit-content(236px) 1fr;
  }

  .question:not(.question-what) .answer {
    grid-column: 2/auto;
  }

  .question-what .answer {
    grid-column: 1/3;
  }
}

@media (width >= 1024px) {  
  .decorated-zone::before {
    grid-row: 1/auto;
  }
  
  .header__theme-menu {
    justify-self: center;
    grid-column: 1/3;
    grid-row: 1/auto;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .question {
    grid-template-columns: repeat(3, 1fr);
  }

  .annotation-of-answers {
    grid-column: 2/4;
  }

  .question:not(.question-what) .answer {
    grid-column: 2/4;
  }

  .question-what .answer:first-of-type {
    grid-column: 1/auto;
  }
}